* {
  padding: 0;
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  overflow: hidden;
}

.about {
  width: 100vw;
  overflow: hidden;
  height: 1700px;
}

.research {
  min-height: 100vh;
}

.parallax-outer {
  position: relative;
  z-index: 1;
}

.dirkItem {
  padding: 15px 10px;
  background-color: #D0E3CE;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px 0px #333;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-gap: 12px;
  margin-top: 50px;
}

.graph {
  height: 300px;
  background-color: lightgray;
  border-radius: 5px;

}